__pycache__/
*.py[cod]
*.swp
.DS_Store

.venv/
.env

.idea/
.vscode/

*.log
*.pid
*.seed
*.pid.lock
build/
*.env

migrations/

.coverage
*.coverage
*.egg-info/
.tox/

*.egg
*.eggs
dist/
build/
*.wheel

celerybeat-schedule
*.db
*.sqlite3
